@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin-ext');

body {
	margin: 0;
	background-color: #26282E;
	color: #FFFFFF;
    font-family: 'Amatic SC', sans-serif;
    font-size: 23px;
}

.row {
    width: 70vw;
	margin-left: auto;
	margin-right: auto;
    padding-top: 70px;
    padding-bottom: 70px;
	text-align: center;
}

.players {
	margin: 5px 0;
}

#title {
   font-size: 28px;
   font-weight: 800;
}

.btn {
	font-family: 'Amatic SC', sans-serif;
	font-size: 25;
	font-weight: 700;
    color: antiquewhite;
	background-color: #26282E;
	border: solid 3px white;
	margin: 10px 0;
	padding: 7px;
	cursor: pointer;
	border-radius: 10px 25px;
}

span {
   white-space: nowrap;
}